body {
    background-color: #EFEEEE;
}

h1 {
    margin-top: 30px;
    margin-left: 30px;
    color: #325D79;
}

.list-group-item {
    border-radius: 5px;
    margin-bottom: 3px;
    color: #325D79;
}

.list-group-item-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.list-group-item+.list-group-item.active {
    background-color: #F26627;
    border-color: #325D79;
}

.list-group-item.active {
    background-color: #F26627;
    border-color: #325D79;
}

.list-group-item.active:hover {
    background-color: #F9A26C
}

.list-group-item:first-child:hover {
    background-color: #F9A26C
}

.list-group-item+.list-group-item:hover {
    background-color: #F9A26C
}

.card {
    margin: 30px 30px 30px 0;
    width: 400px;
}

.monsters-container {
    display: flex;
}

.monsters-list {
    width: 30vw;
    margin: 30px;
}


.sort-button-icon {
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.sort-button-icon__down {
    display: inline-block;
    transform: rotate(180deg);
}

.list-group-item-title:hover {
    background-color: white !important;
}